*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;

    font-size: 16px;
}

.flex {
    display: flex;
    &-row {
        flex-direction: row;
    }
    &-col {
        flex-direction: column;
    }
    &-jc-c {
        justify-content: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
    &-as-c {
        align-self: center;
    }
}