header {
  width: 100%;
  height: auto;
  padding: 1em 6em;
  // background: rgb(241, 217, 217);
  > img {
    margin-left: auto;
  }
  .#{&}__button {
    margin-left: 1em;
    padding: 0.4em 1em;
    font-size: var(--sz-xxsm);
  }
  @include breakpoint-down(desktop) {
    padding: 1em 2em;
  }
  @include breakpoint-down(tablet) {
    padding: 1em 4em;
    .#{&}__button {
      margin-left: 0.5em;
      padding: 0.5em 1em;
    }
  }
  @include breakpoint-down(mobile) {
    padding: 1em 1em;
  }
}
