:root {

    // different font sizes
    --sz-xl : 3em;
    --sz-l : 2.5em;
    --sz-med : 2em;
    --sz-sm : 1.8em;
    --sz-xsm : 1.5em;

    // colors
    --clr-black : rgba(0 , 0, 0, 1);
    --clr-white : rgba(255, 255, 255, 1);
    --clr-pri : black;
    --clr-sec : black;
    --clr-ter : black;
    
}