@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {

    // different font sizes
    --sz-xl : 3em;
    --sz-l : 2.5em;
    --sz-med : 2em;
    --sz-sm : 1.8em;
    --sz-xsm : 1.5em;
    --sz-xxsm : 1.2em;

    // colors
    --clr-black : rgba(0 , 0, 0, 1);
    --clr-white : rgba(255, 255, 255, 1);
    --clr-pri : black;
    --clr-sec : rgba(0, 0, 0, 0.7);
    --clr-ter : black;
    
    // font family
    --font-1 : 'Roboto', sans-serif;
    --font-2 : 'Varela Round', sans-serif;
}